@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

/* font-family: 'Kalam', cursive; */
/* font-family: 'Poppins', sans-serif; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width:100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url("img/background.jpg");
    color: white;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 41px;
    font-family:'Poppins', sans-serif;
}

.logo{
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bold;
}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}
.menu a:nth-child(6){
    background-color: rgb(12, 167, 12);
    border-radius: 12px;
    margin: 0 0.5rem;
}

.menu a:hover{
    background-color: rgb(12, 167, 12);
    border-radius: 12px;
    margin: 0 0.5rem;
}
.menu a:nth-child(6):hover{
    background-color: rgb(8, 203, 8);
    font-weight: bolder;
}

.menu i{
    font-size: 1.5rem;
    margin: 0 0.5rem;
    cursor: pointer;

}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 70px;
}

.left{
    flex-basis: 60%;
}



.right{
    flex-basis: 30%;
    position: relative;
  display: inline-block;
}
  
.first{
    color:yellow;
}
.left h2{
    font-family: 'Poppins', sans-serif;
    color: greenyellow;
}

.left h1{
    font-family: 'Kalam', cursive;
    font-size: 4rem;
    animation: textAnimation .1s infinite;
}
.left h1:hover {
  text-shadow: 0 0 5px yellow;
  }

@keyframes textAnimation {
    0% {
      text-shadow: none;
    }
    50% {
        color:rgb(238, 238, 162);
      text-shadow: 0 0 5px yellow;
    }
    100% {
      text-shadow: none;
    }
}

.left p{
    font-family: 'Poppins', sans-serif;
    line-height: 2rem;
}

#hire{
    text-decoration: none;
    background: #639615;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    font-size: 1.5rem;
    margin: 0px 2rem;
}
#myResume{
    text-decoration: none;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    font-size: 1.5rem;
    margin: 0px 2rem;
    border: 1px dashed white; 
}

#mypic{
    height: 83vh;
    width: 26vw;
    border-radius: 50rem;
}

#bio{
    cursor: pointer;
    padding: 150px 70px;
    width: 100%;
    height:100;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}
.leftbio{
    flex-basis: 40%;
}
.rightbio{
    flex-basis: 60%;
}

.leftbio img{
    width: 100%;
    height: 700px;
    border-radius: 12px;
}
.rightbio{
    text-align: right;
    padding: 0 40px;
}
.rightbio p{
    margin: 20px 0;
    line-height: 1.4rem;
}

.rightbio h1{
    font-size: 2rem;
    font-weight: 1000;
}

.info{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
}

#mail, #phone{
    text-decoration: none;
    color: black;
}

#follow{
    text-align: center;
}

#follow i{
   color:#639615;
   font-size: 1.5rem;
   margin:0 0.7rem; 
}

.link-h{
   text-align: center;
   margin-top:3rem; 
}

#cv{
    text-decoration: none;
    color:black;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.5rem;
    margin: 0 1rem;
    border: 1px dashed grey; 
}

table,tr,th,td{
    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    padding: 0.5rem;
    width: 98vw;
    text-align: center;
}

#qualifications h1{
    font-size: 3rem;
    text-align: center;
    font-family: 'Kalam', cursive;
    font-weight: bolder;
    padding: 1rem 0;
}

.icon{
    width:10vw;
    height: 20vh;
}

#skills{
    padding: 50px 70px;
    width:100%;
    height: 100%;
    background: rgb(209, 240, 209);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.skill h1{
    font-size: 3rem;
    text-align: center;
    font-family: 'Kalam', cursive;
    font-weight: bolder;
    padding: 1rem 0;
}
.card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.cardbody{
    flex-basis: 30%;
    background: white;
    padding: 0rem;
    border-radius: 8px;
    margin: 1rem 0;
}
.cardbody h3{
    font-size: 1.5rem;
    margin:0.5rem 0;
}
footer{
    background-color: rgb(12, 127, 12);;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
}